<div class="services-container">
  <div class="services-container__navigation-column">
    {{services/progress-stepper
     serviceId=serviceId
     locationId=locationId
     }}
  </div>
  <div class="services-container__content-column">{{outlet}}</div>
</div>
