{{#each model as |item|}}
  <div class="card">
    <div class="card-body">
      <span class="card-title">{{item.description}}</span>
      {{#link-to 'services.locations' item.id class="btn btn-primary float-right"}}Select{{/link-to}}
    </div>
  </div>
{{/each}}
